@import url("https://fonts.cdnfonts.com/css/inter");

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 105px;
  width: 1440px;
  gap: 55px;
}

.login {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  gap: 10px;
}

.signUp {
  background-color: #4caf4f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
}

.loginButton {
  background-color: #f5f7fa;
  color: #4caf4f;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
}

.pageIcon {
  display: flex;
  gap: 8px;
}

.homeMenu {
  display: flex;
  font-family: Inter;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  gap: 20px;
}

.introSection {
  display: flex;
  padding: 96px 144px;
  align-items: center;
  gap: 104px;
  width: 1440px;
  /* align-self: stretch; */
  background-color: #f5f7fa;
}

.anotherIntroSection {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 407px;
  flex-direction: column;
  /* width: 1152px; */
}

.innerIntroSection {
  gap: 104;
  display: flex;
  flex-direction: column;
}

.introCaption {
  color: var(--neutral-d-grey, #4d4d4d);

  width: 657px;
  height: auto 152px;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  margin: 0px;
}

.styleDifferently {
  color: #4caf4f;
}

.whereToGrow {
  color: var(--neutral-grey, #717171);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.registrationDiv {
  display: flex;
}

.registerButton {
  background-color: #4caf4f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  color: white;

  color: var(--neutral-white, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 14px 30px;
  border: none;
}

.Illustration-image {
  width: 391px;
  height: 407px;
}

.clients-section {
  display: flex;
  margin: 0px;
  flex-direction: column;
  padding: 0px 144px;
  width: 1440px;
}

.titleCaption {
  display: flex;
  width: 1110px;
  justify-content: center;
}

.our-clients {
  display: flex;
  justify-content: center;
  margin: 0;
  height: auto;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  width: 100%;
}

.fortune-div {
  gap: 8px;
}

.fortune {
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.anotherSection {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 90px;
  align-items: center;
  padding: 0px 144px;
}

.community {
  display: flex;
  width: 1440px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /* height: 120px; */
}

.sub-community {
  width: 542px;
  height: 88px;
}

.sub-community-text {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
}

.suitability {
  width: 1440px;
  height: 24px;
  align-self: stretch;
}

.sub-suitability {
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.parent-div {
  display: flex;
  flex-direction: row;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
}

.sub-parent {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  justify-content: center;
  gap: 8px;
}

.sub-parent-icon {
  display: flex;
  width: 267px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.parent-icon {
  width: 65px;
  height: 56px;
  justify-content: space-between;
}

.membership {
  align-self: stretch;
}

.mem-organisations {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;

  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0px;
}

.management {
  width: 251px;
}

.sub-management {
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

.national-asso-parent {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  justify-content: center;
  gap: 8px;
}

.national-asso {
  display: flex;
  width: 267px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.national-asso-div {
  align-self: stretch;
}

.national-asso-text {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;

  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0px;
}

.our-management {
  width: 251px;
}

.our-management-text {
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

.clubs {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  justify-content: center;
  gap: 8px;
}

.sub-club {
  display: flex;
  width: 267px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.clubs-groups {
  align-self: stretch;
  width: 231px;
}

.clubs-groups-sub {
  color: var(--neutral-d-grey, #4d4d4d);
  text-align: center;

  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0px;
}

.mgt-software {
  width: 251px;
}

.mgt-software-sub {
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

.another-section {
  margin: 42px;
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.frame-35 {
  display: flex;
  width: 442px;
  height: 433px;
  padding: 52px 0.467px 52.005px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.second-section {
  height: 52px;
  /* width: 661px; */

  display: flex;
  width: 661px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.the-unseen-text {
  align-self: stretch;
  color: var(--neutral-d-grey, #4d4d4d);

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.lorem-ipsum {
  align-self: stretch;
  color: var(--neutral-grey, #717171);

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.learn-more {
  display: flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  background: var(--brand-primary, #4caf4f);
  color: var(--neutral-white, #fff);
  text-align: center;
  border-radius: 4px;
  border: 0px;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 50;
  line-height: 24px;
  gap: 32px;
}

.achievments {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.achievments-section {
  display: flex;
  width: 1440px;
  padding: 64px 144px;
  justify-content: space-between;
  align-items: center;

  background: var(--neutral-silver, #f5f7fa);
}

.local-business {
  display: flex;
  width: 540px;
  height: 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.local-business-sub {
  width: 408px;
  color: var(--neutral-d-grey, #4d4d4d);

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
}

.business-reinvent {
  color: var(--brand-primary, #4caf4f);

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}

.description {
  align-self: stretch;
  color: var(--text-gray-900, #18191f);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

.counts {
  width: 540px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.counts-sub {
  width: 540px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.counts-sub-div {
  width: 255px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0px;
}

.firts-icon {
  width: 48px;
  height: 48px;
}

.no-name {
  flex-direction: column;
  margin: 0px;
}

.the-numbers {
  width: 191px;
  color: var(--neutral-d-grey, #4d4d4d);

  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0px;
}

.counts-members {
  width: 191px;
  height: 24px;
  color: var(--neutral-grey, #717171);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

.counts2 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.counts-sub2 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counts-sub-div2 {
  width: 255px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0px;
}

.the-numbers2 {
  width: 191px;
  color: var(--neutral-d-grey, #4d4d4d);

  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0px;
}

.counts-members2 {
  width: 191px;
  height: 24px;
  color: var(--neutral-grey, #717171);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

.chairman-div {
  display: flex;
  flex-direction: column;
}

.unlock-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.unlock-section-sub-div {
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
}

.frame-6 {
  display: flex;
  width: 661px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.site-footer {
  width: 601px;
  align-self: stretch;
  color: var(--neutral-d-grey, #4d4d4d);

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
}

.customers-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

.customers-section-div {
  display: flex;
  width: 1440px;
  padding: 32px 144px;
  align-items: center;
  gap: 78px;
  background: var(--neutral-silver, #f5f7fa);
}

.customers-paragraph {
  color: var(--neutral-grey, #717171);

  align-self: stretch;
  height: 168px;
  width: 748px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-self: stretch;
}

.tim-smith {
  align-self: stretch;
  color: var(--brand-primary, #4caf4f);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0px;
}

.british {
  align-self: stretch;
  color: var(--neutral-l-grey, #89939e);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

.frame-14 {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.frame-10 {
  display: flex;
  align-items: center;
  gap: 41px;
}

.frame-10-1 {
  width: 40px;
  height: 40px;
}

.frame-10-2 {
  width: 40px;
  height: 28px;
}

.frame-10-3 {
  width: 55px;
  height: 30px;
}

.frame-10-4 {
  width: 47px;
  height: 29px;
  flex-shrink: 0;
}

.frame-10-5 {
  width: 41px;
  height: 27px;
}

.frame-10-6 {
  width: 52px;
  height: 20px;
}

.customers {
  width: 223px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 188px; */
}

.meet-customers {
  color: var(--brand-primary, #4CAF4F);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.arrow {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 8px 5px 8px 4.414px;
  justify-content: center;
  align-items: center;
}

.community-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  /* width: 1440px; */
  height: 506px;
}

.caring {
  display: flex;
  width: 1110px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 124px;
}

.caring-marketing {
  color: var(--neutral-d-grey, #4D4D4D);
  text-align: center;

  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  margin: 0px;
  align-self: stretch;
}

.caring-div {
  width: 628px;
}

.nextcent-blog {
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}

.frame-15 {
  display: flex;
  width: 1440px;
  padding: 0px 144px;
  justify-content: space-between;
  align-items: center;
}

.frame-15-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -96px;
}

.image-1 {
  display: flex;
  padding: 16px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 317px;
  height: 176px;
  margin-top: -102px;

  border-radius: 8px;
  background: var(--neutral-silver, #F5F7FA);

  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
}

.image-1-paragraph {
  width: 285px;
  color: var(--neutral-grey, #717171);
  text-align: center;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.image-1-button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  height: 44px;
  width: 285px;
}

.image-1-button-div {
  color: var(--brand-primary, #4CAF4F);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}