form{
    max-height: 200px;
    max-width: 40%;
    border: 3px solid black;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 40px 20px;
    background-color: rgb(176, 154, 224);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    /* max-height: 200; */
    width: 232px;
}