
body {
    display: flex;
    /* background-image: url("./images/unrecognizable-woman-dress-sitting-indoors-desk-writing-journal.jpg"); */
    background-color: rgb(255, 245, 245);
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
    /* padding: 30px 100px; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fill-div {
    /* display: flex;
    background-color: red;
    width: 100%; */
    color: white;
    
}

nav {
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 15px 450px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.login-btn, .signup-btn {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.entry-point {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: row; 
    padding: 50px 0px;
    gap: 30px;
}

.inner-entry-point {
    display: flex;
    flex-direction: column; /* Change to column */
    margin-right: 20px; /* Adjust the margin as needed */
}

.support-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-img {
    width: 450px;
    height: 350px;
    border-radius: 10px;
}

.private-journal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#soulvault {
    margin: 0px;
    font-family: cursive;
    font-size: 90px;
    font-weight: bold;
    color: red;
}

.first-write-up > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: black;
    text-align: center;
}

.start-button {
    width: 450px;
    height: 50px;
    background-color: red;
    color: white;
    border: 0px;
    font: arial;
    font-size: 20px;
    cursor: pointer;
}

.start-button:hover {
    opacity: 0.65;
}

.start-button:active {
    opacity: 0.8;
}

.some-functionalities {
    display: flex;
    flex-direction: column;
}

.inner-func-div {
    display: flex;
    flex-direction: row;
}